<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>cronjobs</name>
	<displayName><![CDATA[Cron jobs - By PrestaShop]]></displayName>
	<version><![CDATA[1.0]]></version>
	<description><![CDATA[Manage all of your cron jobs at once.]]></description>
	<author><![CDATA[PrestaShop]]></author>
	<tab><![CDATA[admninistration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>